@charset "UTF-8";

body {
  background-color: aquamarine;
  background: url(../Imagem/e2592ab0c2621fb2f28aa8b1fa127ba4.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: block;
}

div.flash_alerta {
  background-color: red;
  font-size: 50px;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
}

div#form_fundo {
  backdrop-filter: blur (10px);
  opacity: 0.5;
  margin: 10% 25% 25% 25%;
  text-align: center;
  border-radius: 20px;
  font-weight: bolde;
  box-shadow: 2px 5px 5px black;
}

div#form_frente {
  background-color: white;
  margin: Spx;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 2px 5px 5px black;
  padding: 30px;
}

label {
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  padding: 20px;
}

input {
  border-radius: 20px;
  font-size: 29px;
  font-weight: bold;
}

input:focus {
  background-color: blue;
  color: black;
}

button {
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  background-color: black;
  color: white;
}

button:hover {
  background-color: white;
  color: black;
  font-size: 40px;
}
